.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    p {
        margin: 0 auto;
        padding-top: 5px;
        background-color: $light-navbar-color;
        text-align: center;
        font-weight: bold;
        @media(max-width: 1000px) {
            font-size: 13px;
        }
    }
}
#dark-theme .footer-container {
    p {
        background-color: #222;
    }
}