.navbar-container {
    box-shadow: 0px 9px 27px -20px rgba(0, 0, 0, 1);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: $light-navbar-color;
    border-bottom: 5px solid black;
    @media(max-height: 400px) {
      padding: 0;
      border-bottom: 2px solid black;
    }
    @media (max-width: 868px) {
        padding: 10px 0;
    }
    
    .my-logo {
        fieldset {
            color: $secondary-light-theme-color;
            font-size: 15px;
            border-color: transparent;
            border-top: 1px solid $secondary-light-theme-color;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media(max-width: 868px) {
                padding: 0;
                font-size: 10px;
                text-align: center;
            }
            .my-avatar {
                width: 60px;
                height: 60px;
                background-image: url('../images/theme/logo_dark.png');
                background-size: cover;
                margin-right: 10px;
                @media(max-width: 868px) {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
                @media(max-height: 600px) {
                  width: 37px;
                  height: 37px;
                  margin: 0;
              }
            }
        }
        
    }
    .user-information {
      width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: tomato;
        font-size: 11px;
        cursor: pointer;
        @media (max-width: 868px) {
            flex-direction: column;
            height: 100px;
            justify-content: space-around;
        }
        @media (max-height: 600px) {
          flex-direction: column;
          height: 85px;
          justify-content: space-around;
      }
        label {
            margin: 4px;
        }
        .logout-button {
            display: none;
        }
        div {
            display: flex;
        }
        strong {
            transform: rotate(90deg);
            font-size: 20px;
            padding: 5px;
        }
        a {
            padding: 10px 25px;
            border-radius: 5px;
            margin-right: 15px;
            background: rgba(black, 0.2);
        }
        a:hover {
            background: rgba(white, 0.2);
        }
        #theme-icon {
          cursor: pointer;
          padding: 3px;
          position: relative;
          display: inline-block;
          width: 40px;
          height: 25px;
          .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #bbb;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }
            
            .slider:before {
              position: absolute;
              content: "";
              height: 30px;
              width: 30px;
              left: 0px;
              bottom: 4px;
              top: 0;
              bottom: 0;
              margin: auto 0;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              box-shadow: 0 0px 15px #2020203d;
              background: #446 url('https://i.ibb.co/FxzBYR9/night.png');
              background-repeat: no-repeat;
              background-position: center;
            }
            
            input:checked + .slider {
              background-color: #bbb;
            }
            
            input:focus + .slider {
              box-shadow: 0 0 1px #bbb;
            }
            
            input:checked + .slider:before {
              transform: translateX(12px);
              background: yellow url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTt-h0Jg8bPKoa3dvJM_KuJbWsCKn-QIcK9n8M5Yf3cDE09YzLIZzrHXyOzHFFIUB9ZMI&usqp=CAU');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            
            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }
            
            .slider.round:before {
              border-radius: 50%;
            }
      }
      #theme-icon > input {
          display: none;
      }
      .change-language {
        select {
          color: $secondary-light-theme-color;
          font-size: 18px;
          appearance: none;
          font-weight: bold;
          outline: none;
          // Additional resets for further consistency
          background-color: transparent;
          border: none;
          padding: 10px;
          margin: 0;
          width: 100%;
          font-family: inherit;
          cursor: pointer;
          line-height: inherit;
          @media(max-height: 600px) {
            padding: 4px;
          }
        }
        select::-ms-expand {
          display: none;
        }
      }
      }
}
#dark-theme .navbar-container {
    background: $dark-navbar-color;
    .my-logo {
        fieldset {
            color: $secondary-dark-theme-color;
            .my-avatar {
                background-image: url('../images/theme/logo_light.png');
            }
        }
    }
    .change-language {
      select {
        color: $secondary-dark-theme-color;
        background: #222;
      }
    }
}