$universal-username-color: lightblue;

$primary-light-theme-color: #eee;
$secondary-light-theme-color: #333;
$light-navbar-color: white;

$primary-dark-theme-color: #333;
$secondary-dark-theme-color: #eee;
$dark-navbar-color: #222;

#light-theme {
    background-color: $primary-dark-theme-color;
    background-blend-mode: hard-light;
    background-size: cover;
    color: $secondary-light-theme-color;
}

#dark-theme {
    background-color: #eee;
    background-blend-mode: difference;
    background-size:cover;
    color: $secondary-dark-theme-color;
}
#light-theme, #dark-theme {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/874/132/original/abstract-geometric-white-background-free-vector.jpg');
    height: 100vh;
}

#light-theme .footer-container {
    background-color: transparent;
    color: $secondary-light-theme-color;
}

#dark-theme .footer-container {
    background-color: transparent;
    color: $secondary-dark-theme-color;
}