<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="pl">
<head>
    {% get_current_language as LANGUAGE_CODE %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="light only">
    <meta name="author" content="Konrad Gumienny">
    <meta name="ahrefs-site-verification" content="2c7f3779b3220e4212d0accf436c04a35160804dc94477c0bc13e5acabac6a0d">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <meta name="robots" content="index, follow">
    {% block head %}
    <title>KG - Portfolio</title>
    <link rel="canonical" href="https://www.kgdevelopment.pl/{{ LANGUAGE_CODE }}/" />
        {% if LANGUAGE_CODE == 'pl' %}
        <meta name="description" content="Konrad Gumienny - Zapraszam do mojego portfolio, gdzie prezentuję moje umiejętności w projektowaniu interfejsów użytkownika i tworzeniu zaawansowanych funkcjonalności aplikacji internetowych. Odkryj, jak tworzę responsywne i intuicyjne rozwiązania, które przekształcają wizję Twojej marki w interaktywną rzeczywistość online.">
        <meta name="keywords" content="Tworzenie aplikacji internetowych, projektowanie stron internetowych, usługi tworzenia stron internetowych, customowe aplikacje internetowe, responsywne projektowanie stron internetowych, tworzenie front-endu, tworzenie back-endu, projektowanie UI/UX, usługi programistyczne, portfolio Konrada Gumiennego">
        {% else %}     
        <meta name="keywords" content="Web application development, Website design, Web development services, Custom web solutions, Responsive web design, Front-end development, Back-end development, UI/UX design, Programming services, Konrad Gumienny portfolio">
        <meta name="description" content="Konrad Gumienny - Welcome to my portfolio, where I showcase my skills in user interface design and advanced web application development. Discover how I create responsive and intuitive solutions that transform your brand vision into an interactive online reality.">
        {% endif %}
    {% endblock %}
</head>
<body>
    <div id="light-theme">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'footer.html' %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>