{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<div class="home-container light-theme">
    {% translate 'ABOUT ME' as about %}
    {% translate 'INTRO1' as intro1 %}
    {% translate 'INTRO2' as intro2 %}
    <div>
        {% include 'menu.html' %}
    </div>
    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> {{ about }}</h5>
            <small>KGUMIENNY.FIRMA@GMAIL.COM</small>
        </div>
        <div class="about-container">
            {% if LANGUAGE_CODE == 'pl' %}
            <h1 style="display: none">Konrad Gumienny - Moje portfolio. Prezentacja narzędzi z których korzystam.</h1>
            {% else %}
            <h1 style="display: none">Konrad Gumienny - My portfolio. Presentation of the tools I use.</h1>
            {% endif %}
            <div class="about-image"></div>
            <div class="about-text">
                <p>{{ intro1 | upper }}</p>
                <p>{{ intro2 | upper }}</p>
            </div>
        </div>
        {% comment %} {% include 'base/skills_component.html' %} {% endcomment %}
    </div>

    {% comment %} <div>
        {% include 'base/activity_component.html' %}
    </div> {% endcomment %}

</div>

{% endblock content %}
