{% extends 'main.html' %}
{% load static %}7
{% load i18n %}
{% block content %}

<div class="home-container light-theme">
    {% translate 'ABOUT ME' as about %}
    {% translate 'INTRO' as intro %}
    <div>
        {% include 'menu.html' %}
    </div>

    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> {{ about }}</h5>
        </div>
        <div class="about-container">
            <div class="about-image"></div>
            <p>{{ intro | upper }}</p>
        </div>
        {% comment %} {% include 'base/skills_component.html' %} {% endcomment %}
    </div>

    {% comment %} <div>
        {% include 'base/activity_component.html' %}
    </div> {% endcomment %}

</div>

{% endblock content %}
