{% extends 'main.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<div class="home-container light-theme">
    {% translate 'MY PROJECTS' as projects %}
    <div>
        {% include 'menu.html' %}
    </div>

    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> {{ projects }}</h5>
        </div>

        
        {% include 'base/components/items_container.html' %}
    </div>

</div>

{% endblock content %}
{% block head %}
    <link rel="canonical" href="https://www.kgdevelopment.pl/{{ LANGUAGE_CODE }}/projects" />
{% endblock %}