{% extends 'main.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<div class="home-container light-theme">
    {% translate 'MY PROJECTS' as projects %}
    <div>
        {% include 'menu.html' %}
    </div>
    {% translate 'TOOLS' as tools %}
    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> {{ tools }}</h5>
            <small>KGUMIENNY.FIRMA@GMAIL.COM</small>
        </div>

        <div class="terminal-search">
            <form method="GET" action="{% url 'tools' %}">
                <label>
                    {% comment %} <strong>root@localhost:~$ </strong> {% endcomment %}
                    <input type="text" autocomplete="off" name ="q" placeholder="Search.." />
                    {% comment %} <b id="">|</b> {% endcomment %}
                </label>
            </form>
        </div>
        {% if LANGUAGE_CODE == 'pl' %}
        <h1 style="display: none">Konrad Gumienny - Narzędzia wykorzystywane przeze mnie do tworzenia stron i aplikacji internetowych.</h1>
        {% else %}
        <h1 style="display: none">Konrad Gumienny - Tools I use to creating web applications.</h1>
        {% endif %}
        
        {% include 'base/components/items_container.html' %}
    </div>

    {% comment %} <div>
        {% include 'base/activity_component.html' %}
    </div> {% endcomment %}

</div>

{% endblock content %}
{% block head %}
    <link rel="canonical" href="https://www.kgdevelopment.pl/{{ LANGUAGE_CODE }}/tools" />
    
    {% if LANGUAGE_CODE == 'pl' %}
    <meta name="keywords" content="kgdevelopment, konrad gumienny portfolio, narzędzia, aplikacje webowe, konradg, prostack_zwykly, prostack, goneperf, programowanie, projektowanie stron, tworzenie aplikacji, programista webowy">
    <meta name="description" content="Konrad Gumienny - Portfolio - narzędzia które wykorzystuje do pracy. Frameworki, języki programowania itp.">
    {% else %}
    <meta name="keywords" content="kgdevelopment, konrad gumienny portfolio, tools, web apps, web applications, prostack_zwykly, prostack, goneperf, programming, designing web pages, creating web apps, web programmer">
    <meta name="description" content="Konrad Gumienny - My developer portfolio - all about programming languages and tools I use. Frameworks, programming languages etc.">
    {% endif %}
{% endblock %}