{% extends 'main.html' %}
{% load i18n %}
{% block content %}

<div class="home-container light-theme">
    <div>
        {% include 'menu.html' %}
    </div>
    {% translate 'TOOLS' as tools %}
    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> {{ tools }}</h5>
        </div>

        <div class="terminal-search">
            <form method="GET" action="{% url 'tools' %}">
                <label>
                    {% comment %} <strong>root@localhost:~$ </strong> {% endcomment %}
                    <input type="text" autocomplete="off" name ="q" placeholder="Search.." />
                    {% comment %} <b id="">|</b> {% endcomment %}
                </label>
            </form>
        </div>
        
        {% include 'base/components/items_container.html' %}
    </div>

    {% comment %} <div>
        {% include 'base/activity_component.html' %}
    </div> {% endcomment %}

</div>

{% endblock content %}
