{% extends 'main.html' %}

{% block content %}

<div class="home-container light-theme">

    <div>
        {% include 'menu.html' %}
    </div>

    <div>
        <div class="panel-container">
            {% comment %} <a href="{% url 'create-skill' %}"> + ADD NEW SKILL</a> {% endcomment %}
            <h5><strong>&rsaquo;</strong> TECHNOLOGIES</h5>
        </div>

        <div class="terminal-search">
            <form method="GET" action="{% url 'technologies' %}">
                <label>
                    {% comment %} <strong>root@localhost:~$ </strong> {% endcomment %}
                    <input type="text" autocomplete="off" name ="q" placeholder="Search.." />
                    {% comment %} <b id="">|</b> {% endcomment %}
                </label>
            </form>
        </div>
        
        {% include 'base/skills_component.html' %}
    </div>

    {% comment %} <div>
        {% include 'base/activity_component.html' %}
    </div> {% endcomment %}

</div>

{% endblock content %}
